stage {
    font-family: "Ubuntu";
    font-size: 9pt;
}
#panel {
    $panel-color: rgba(0,0,0,0.5);
    font-weight: 500;
    height: 23px;
    background-color: $panel-color;
    color: red;
    // margin-top: 5px;
    // margin-right: 5px;
    // margin-left: 5px;
    // margin-bottom: 5px;
    // border-radius: 3px;
    .panel-corner {
        -panel-corner-radius: 0px;
        -panel-corner-background-color: $panel-color;
        -panel-corner-border-color: transparent;
    }

    .panel-button {
        font-weight: 500;
        .system-status-icon {
            icon-size: 15px;
        }
    }
    .power-status {
        font-size: 12pt;
    }
}
.calendar-day-base {
    font-size: 9pt;
    &.calendar-day-heading {
        font-size: 9pt;
    }
}
.slider {
    height: 18px;
}



#dashtodockContainer.shrink #dash .dash-item-container .overview-icon,
#dashtodockContainer.dashtodock #dash .dash-item-container .overview-icon {
    border-radius: 0 7px 7px 0;
}
