.nautilus-window {
    .path-bar button {
        background-image: none;
        border-radius: 0;
        border-width: 0px;
        margin: 0px;
        &:backdrop {
            background-image: none;
        }
    }

    .path-bar button:not(:checked) image {
        opacity: 0.8;
    }

    .path-bar button:not(:backdrop):hover {
        box-shadow: inset 0 -3px if($variant=='light', rgb(182,182,179), rgb(27,31,32));
    }

    .path-bar-box {
        transition: border 200ms;
        transition: background-color 200ms;
    }

    $nautilus_border_color: if($variant == 'light', rgb(182,182,179), rgb(27,31,3));
    $nautilus_background_color: if($variant == 'light', rgb(232,232,231), rgb(51,57,59));

    .path-bar-box {
        border: 1px solid $nautilus_border_color;
        border-radius: 3px;
        &:not(:backdrop) {
            background-color: $nautilus_background_color;
        }
    }
}
