%titlebar,
headerbar {
    button {
        &.titlebutton {
            min-height: 16px;
            min-width: 16px;
            padding: 2px;
            //@extend %headerbar_button;
            &.close,
            &.maximize,
            &.minimize,
            &.restore {
                box-shadow: none;
                animation: none;
                border: none;
                color: transparent;
                background-color: transparent;
                background-position: center;
                background-repeat: no-repeat;

                &:backdrop {
                    opacity: 0.5;
                }
            }

            &.close {
                background-image: url("windows-assets/titlebutton-close.svg");
                &:hover {
                    background-image: url("windows-assets/titlebutton-close-hover.svg");
                }
                &:active {
                    background-image: url("windows-assets/titlebutton-close-active.svg");
                }
            }
            &.maximize {
                background-image: url("windows-assets/titlebutton-maximize.svg");
                &:hover {
                    background-image: url("windows-assets/titlebutton-maximize-hover.svg");
                }
                &:active {
                    background-image: url("windows-assets/titlebutton-maximize-active.svg");
                }
            }
            &.minimize {
                background-image: url("windows-assets/titlebutton-minimize.svg");
                &:hover {
                    background-image: url("windows-assets/titlebutton-minimize-hover.svg");
                }
                &:active {
                    background-image: url("windows-assets/titlebutton-minimize-active.svg");
                }
            }
            &.restore {
                background-image: url("windows-assets/titlebutton-restore.svg");
                &:hover {
                    background-image: url("windows-assets/titlebutton-restore-hover.svg");
                }
                &:active {
                    background-image: url("windows-assets/titlebutton-restore-active.svg");
                }
            }
        }
    }

    &.default-decoration {
        padding: 0px 6px;

        button.titlebutton {
            min-height: 16px;
            min-width: 16px;
            padding: 2px;
        }
    }
}
