%titlebar,
headerbar {
    label {
        margin-top: 1px;
    }

    .title {
        font-weight: 500;
    }

    entry,
    spinbutton,
    button {
        margin: 3px 0 2px 0;
    }

    button {
        &.titlebutton {
            min-height: 16px;
            min-width: 16px;
            padding: 0;
            margin-top: 1px;
            //@extend %headerbar_button;
            &.close,
            &.maximize,
            &.minimize,
            &.restore {
                box-shadow: none;
                animation: none;
                border: none;
                color: transparent;
                background-color: transparent;
                background-position: center;
                background-repeat: no-repeat;

                &:backdrop {
                    opacity: 0.5;
                }
            }

            &.close {
                background-image: url("windows-assets/titlebutton-close.svg");
                &:hover {
                    background-image: url("windows-assets/titlebutton-close-hover.svg");
                }
                &:active {
                    background-image: url("windows-assets/titlebutton-close-active.svg");
                }
            }
            &.maximize {
                background-image: url("windows-assets/titlebutton-maximize.svg");
                &:hover {
                    background-image: url("windows-assets/titlebutton-maximize-hover.svg");
                }
                &:active {
                    background-image: url("windows-assets/titlebutton-maximize-active.svg");
                }
            }
            &.minimize {
                background-image: url("windows-assets/titlebutton-minimize.svg");
                &:hover {
                    background-image: url("windows-assets/titlebutton-minimize-hover.svg");
                }
                &:active {
                    background-image: url("windows-assets/titlebutton-minimize-active.svg");
                }
            }
            &.restore {
                background-image: url("windows-assets/titlebutton-restore.svg");
                &:hover {
                    background-image: url("windows-assets/titlebutton-restore-hover.svg");
                }
                &:active {
                    background-image: url("windows-assets/titlebutton-restore-active.svg");
                }
            }
        }
    }

    &.default-decoration {
        min-height: 0;
        padding: 4px 6px 3px 6px;

        button.titlebutton {
            min-height: 16px;
            min-width: 16px;
            padding: 0;
            margin-top: 1px;
        }
    }
}
switch slider {
    min-height: 15px;
    min-width: 15px;
}
