%titlebar,
headerbar {
    button {
        &.titlebutton {
            min-height: 16px;
            min-width: 16px;
            padding: 2px;
            //@extend %headerbar_button;
            &.close,
            &.maximize,
            &.minimize,
            &.restore {
                box-shadow: none;
                animation: none;
                border: none;
                color: transparent;
                background-color: transparent;
                background-position: center;
                background-repeat: no-repeat;
                background-image: url("windows-assets/titlebutton.png");

                &:backdrop {
                    opacity: 0.5;
                }
            }

            &.close {
                &:hover {
                    background-image: url("windows-assets/titlebutton-close-hover.png");
                }
                &:active {
                    background-image: url("windows-assets/titlebutton-close-active.png");
                }
            }
            &.maximize {
                &:hover {
                    background-image: url("windows-assets/titlebutton-maximize-hover.png");
                }
                &:active {
                    background-image: url("windows-assets/titlebutton-maximize-active.png");
                }
            }
            &.minimize {
                &:hover {
                    background-image: url("windows-assets/titlebutton-minimize-hover.png");
                }
                &:active {
                    background-image: url("windows-assets/titlebutton-minimize-active.png");
                }
            }
            &.restore {
                &:hover {
                    background-image: url("windows-assets/titlebutton-restore-hover.png");
                }
                &:active {
                    background-image: url("windows-assets/titlebutton-restore-active.png");
                }
            }
        }
    }

    &.default-decoration {
        padding: 4px 6px;

        button.titlebutton {
            min-height: 16px;
            min-width: 16px;
            padding: 2px;
        }
    }
}
switch slider {
    min-height: 15px;
    min-width: 15px;
}
