.nautilus-window {
    .nautilus-path-bar button {
        border-width: 0;
        border-right-style: solid;
        border-right-width: 1px;
    }

    .path-bar-box {
        transition: border 200ms;
        transition: background-color 200ms;
    }

    $nautilus_border_color: if($variant == 'light', rgb(182,182,179), rgb(27,31,3));
    $nautilus_background_color: if($variant == 'light', rgb(232,232,231), rgb(51,57,59));

    .path-bar-box {
        border: 1px solid $nautilus_border_color;
        border-radius: 2px;
        &:not(:backdrop) {
            background-color: $nautilus_background_color;
        }
    }
}
