/* Path bar */

.nautilus-window {
    .nautilus-path-bar button {
        margin: 0;
        border-width: 0;
        border-right-style: solid;
        border-right-width: 1px;
    }

    .path-bar-box {
        transition: border 200ms;
        transition: background-color 200ms;
    }

    .path-bar-box {
        border: 1px solid $borders_color;
        border-radius: 2px;
        &:not(:backdrop) {
            background-color: $bg_color;
        }
    }
}
